* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --data-pokemon: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  /* margin-right: var(--data-pokemon); */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data_pokemon {
  width: var(--data-pokemon);
  height: 80vh;
  margin-top: 10vh;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  border: solid;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;

  width: 100%;
  position: sticky;
  min-height: 50px;
  padding: 5px 40px;

  background-color: black;
  color: white;
  top: 0;
  z-index: 100;
}

#search input{
  border: none;
  background-color: transparent;
  padding: 10px;
}

.material-symbols-outlined{
  color: black;
  cursor: pointer;
}

#search {
  padding: 0 10px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.types-nav .type{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.types-nav{
  overflow-x: auto;
  height: 60px;
  display: flex;
  gap: 5px;
}

