.pokemons {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.pokemon {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px;
}

.pokemon {
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-pokemon {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.detail {
  display: flex;
  position: relative;
  height: 70%;
}

.types {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.type {
  width: 70%;
  border-radius: 15px;
}

.type:hover{
  width: 75%;
}

.pokemon-img {
  height: 100%;
}

.pokemon-img:hover{
  height: 150%;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
